.nowPlaying {
    padding-top: 15px;
}

.albumArt {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-left: 40%;
}

.track {
    vertical-align: middle;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    padding-left: 120px;
}

.search {
    width: 80%;
}
